@model AutoTSForETongModel.KnowledgeSite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>KnowledgeSite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Subject.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnowledgeSiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnowledgeSiteName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KnowledgeSiteID }) |
    @Html.ActionLink("返回", "Index")
</p>
